@page "{id=0}"
@model Devystri.Pages.Admin.AddWebSiteModel
@{
}
@section Styles{
    <link rel="stylesheet" href="~/css/Pages/admin/AddProducts.css" />
}

<section id="add-products-nav">
    <nav id="nav-products">
        <ul>
            @foreach (var app in Model.ListWebSites)
            {
                <li class="add-products-nav-element">
                    <div><img draggable="false" src="~/Assets/elements/travel-bar.svg" /></div> @*Button*@
                    <a asp-area="" asp-page="/Admin/AddApplication" asp-route-id="@app.Id" style="text-decoration: none">
                        <span class="product-id-nav">@app.Id</span>
                        <span class="product-name-nav">@app.Name</span>
                    </a>
                    @if (app.Id == Model.AppId)
                    {
                        <input name="@app.Id" class="product-checkbox-nav" type="checkbox" checked />

                    }
                    else
                    {
                        <input name="@app.Id" class="product-checkbox-nav" type="checkbox" />

                    }
                </li>

            }
        </ul>
    </nav>

    <a class="add-products-nav-button" id="add-new-product" asp-area="" asp-page="/Admin/AddWebSite" asp-route-id="0">Ajouter une nouvelle application</a>

    <a class="add-products-nav-button" id="delete-product">Supprimer l'application</a>
</section>
<section id="product-information">
    <form method="post" enctype="multipart/form-data">
        <div id="fast-information">
            <div class="input-box">
                <span>Nom du SiteWeb</span>
                <input placeholder="Nom du SiteWeb" asp-for="WebSite.Name"/>
                @if (Model.WebSite.Id != 0)
                {
                    <input asp-for="WebSite.Id" hidden />

                }
            </div>
            <div class="input-box">
                <span>Âge minimum</span>
                <input placeholder="Âge minimum" asp-for="WebSite.MinAge" />
            </div>
            <div class="input-box">
                <span>Langue(s)</span>
                <input placeholder="Langues(s)" asp-for="WebSite.Language" />
            </div>
            <input id="button-submite-product" type="submit" value="Sauvegarder" /> @*Boutton send*@
        </div>
        <div id="description-logo">
            <div id="input-description" class="input-box">
                <span>Description</span>
                <textarea placeholder="Description" asp-for="WebSite.Description"></textarea>
            </div>
            <div id="input-logo" class="input-box">
                <input id="fileLogo" accept="image/*" onchange="javascript: previewImage(this, 'previewLogoAdd')" type="file" sr asp-for="WebSite.AppLogo" />@*Input logo*@
                <img id="previewLogoAdd" src="~/upload/websites/@Model.WebSite.AppLogoName" />

            </div>
        </div>
        <div id="product-option">
            <div id="website-link" class="input-box">
                <span>Lien du SiteWeb</span>
                <input type="url" placeholder="Lien du SiteWeb" />
            </div>
            <div id="product-condition" class="input-box">
                <span>Statue du projet</span>
                <select name="product-condition">
                    <option>Aucun</option>
                    <option>Non commercialisé</option>
                    <option>Projet annulé</option>
                    <option>Non téléchargable</option>
                    <option>Nécessite le hub</option>
                </select>
            </div>
        </div>
        <div id="first-image-product">
            <div class="input-box">
                <span>Image de la page application </span>
                <input placeholder="Image de la page application" type="file" class="input-image-box" />
            </div>
            <div class="input-box">
                <span>Images qui entoure la fiche technique de l'application</span>
                <div id="images-fact-sheet">
                    <input placeholder="Image de la fiche technique" type="file" class="input-image-box" />
                    <input placeholder="Image de la fiche technique" type="file" class="input-image-box" />
                </div>
            </div>
        </div>
        <div class="section">
            <span class="section-number">Section 1</span>
            <div class="product-section">
                <div class="section-image-box">
                    <span>Image</span>
                    <input placeholder="Image" type="file" class="input-image-box" />
                </div>
                <div class="input-box">
                    <span>Titre</span>
                    <input placeholder="Titre" class="section-title" />
                    <span>Description</span>
                    <textarea placeholder="Description"></textarea>
                </div>
            </div>
        </div>
        <div class="section">
            <span class="section-number">Section 2</span>
            <div class="product-section">
                <div class="section-image-box">
                    <span>Image</span>
                    <input placeholder="Image" type="file" class="input-image-box" />
                </div>
                <div class="input-box">
                    <span>Titre</span>
                    <input placeholder="Titre" class="section-title" />
                    <span>Description</span>
                    <textarea placeholder="Description"></textarea>
                </div>
            </div>
        </div>
        <a class="add-products-nav-button">Ajouter une nouvelle section</a>
    </form>
</section>

@section Scripts{

} 