@page
@model Devystri.Pages.Admin.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}
}
@section Styles{
    <link rel="stylesheet" href="~/css/Pages/admin/dashboard.css" />
}


<section id="fast-information">
    <form class="form-period">
        <label class="label-period">
            <input class="input-period" name="period" type="radio" checked />
            <span class="period">Jour</span>

        </label>
        <label class="label-period">
            <input class="input-period" name="period" type="radio" />
            <span class="period">Semaine</span>
        </label>
        <label class="label-period">
            <input class="input-period" name="period" type="radio" />
            <span class="period">Mois</span>
        </label>
        <label class="label-period">
            <input class="input-period" name="period" type="radio" onclick="YearVisits()"/>
            <span class="period">Année</span>
        </label>
    </form>
    <div class="fast-information-box">
        <span class="title-fast-information">Nombres de visites</span> @*Number of visits*@
        <span id="all-visits" class="data-fast-information">2 800</span>
    </div>
    <div class="fast-information-box">
        <span class="title-fast-information">Temps moyen qu'un utilisateur reste sur le site</span> @*Average time a user stays on the site*@
        <span class="data-fast-information">7 min</span>
        <span class="period-description-fast-information">Depuis une semaine</span>
    </div>
    <div class="fast-information-box">
        <span class="title-fast-information">Nombres de visites par page</span> @*Number of visits per page*@
        <span class="period-description-fast-information">Main page</span>
        <span class="data-fast-information">2 800</span>
        <span class="period-description-fast-information">Page application</span>
        <span class="data-fast-information">2 648</span>
        <span class="period-description-fast-information">Page Website</span>
        <span class="data-fast-information">1 843</span>
        <span class="period-description-fast-information">Page objets connecté</span>
        <span class="data-fast-information">2 126</span>
        <span class="period-description-fast-information">Page contact</span>
        <span class="data-fast-information">748</span>
        <span class="period-description-fast-information">Page à propos</span>
        <span class="data-fast-information">1 125</span>
        <span class="period-description-fast-information">Application motivation</span>
        <span class="data-fast-information">2 200</span>
        <span class="period-description-fast-information">Depuis une semaine</span>
    </div>
    <div class="fast-information-box">
        <span class="title-fast-information">Nombres de messages</span> @*Message numbers*@
        <span class="data-fast-information">@Model.ContactInWeek</span>
        <span class="period-description-fast-information">Depuis une semaine</span>
    </div>
</section>
<section id="accurate-information">
    <span id="accurate-information-title">Statistiques de visites</span>
    <div id="total-visits-box">
        <div id="total-visits-header">
            <span class="graphic-title">Visites total</span>
            <form class="form-period from-period-graphic">
                <label class="label-period">
                    <input class="input-period" name="period" type="radio" checked />
                    <span class="period">Jour</span>
                </label>
                <label class="label-period">
                    <input class="input-period" name="period" type="radio"  />
                    <span class="period">Semaine</span>
                </label>
                <label class="label-period">
                    <input class="input-period" name="period" type="radio" />
                    <span class="period">Mois</span>
                </label>
                <label class="label-period">
                    <input class="input-period" name="period" type="radio" />
                    <span class="period">Année</span>
                </label>
            </form>
        </div>
        <div id="visit-website-graphic-box">
            <canvas id="visit-website-graphic"></canvas>
        </div>
    </div>
    <div class="small-box">
        <div id="popular-os-box">
            <span class="graphic-title">OS les plus populaire</span>
            <div id="popular-os-graphic-box">
                <canvas id="popular-os-graphic"></canvas>
            </div>

        </div>
        <div id="newsletter-suscribe">
            <div id="newsletter-suscribe-header">
                <span class="graphic-title">Inscrit à la newsletter</span>
                <span id="newsletter-users">@Model.NewsletterStats.Sum(item => item.Count)</span>
            </div>
            <div id="newsletter-users-graphic-box">
                <canvas id="newsletter-users-graphic"></canvas>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script type="text/javascript">
        var allVisits = [50, 400, 1500, 18000];
        var Os = {"data" :@Json.Serialize(@Model.oSStats.Select(item => item.Counts)),
            "labels": @Json.Serialize(@Model.oSStats.Select(item => item.OsName))};

        var Newsletter = {"data" :@Json.Serialize(@Model.NewsletterStats.Select(item => item.Count)),
            "labels": @Json.Serialize(@Model.NewsletterStats.Select(item => item.Date.ToShortDateString()))};
        var Visits = {"data" :@Json.Serialize(@Model.Visits.Select(item => item.Count)),
            "labels": @Json.Serialize(@Model.Visits.Select(item => item.Date.ToShortDateString()))};
    </script>


    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="~/js/Pages/dashboard.js"></script>
}