@page
@model Devystri.Pages.Admin.tableUsersModel
@{
}

@section Styles{
    <link rel="stylesheet" href="~/css/Pages/admin/table.css" />
}
<section id="header-section">
    <h2 id="page-title">Comptes administrateur</h2>
    <div id="search-box">
        <form id="search-bar" method="post">
            <input id="search" placeholder="Rechercher" type="search" />
            <input placeholder="" id="button-submit" type="submit" />
        </form>
    </div>
</section>
<section id="table-section">
    <table order="0" cellspacing="0" cellpadding="0">
        <tr>
            <th id="table-id">ID</th>
            <th id="table-email">Email</th>
            <th id="table-date">Tentatives de connections</th>
            <th id="table-modification">Modifications</th>
        </tr>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Email.ToLower()</td>
                <td>@item.AccessFailedCount</td>
                <td class="user-edit">
                    <a class="table-edit"></a>
                    <a class="table-delete"></a>
                </td>
            </tr>
        }

    </table>
</section>
<div id="table-footer">
    @if (Model.ActualPage > 1)
    {
        <a id="left-arrow" asp-area="" asp-page="/Admin/tableNewsletter" asp-route-id="@(Model.ActualPage - 1)"></a>
    }
    <ul>

        @if (Model.ActualPage > 1)
        {
            <li><a asp-area="" asp-page="/Admin/tableNewsletter" asp-route-id="@(Model.ActualPage - 1)">@(Model.ActualPage-1)</a></li>
        }
        <li><a asp-area="" asp-page="/Admin/tableNewsletter" asp-route-id="@(Model.ActualPage)">@(Model.ActualPage)</a></li>
        @if (Model.ActualPage < Model.PageCount)
        {
            <li><a asp-area="" asp-page="/Admin/tableNewsletter" asp-route-id="@(Model.ActualPage+1)">@(Model.ActualPage+1)</a></li>
        }
    </ul>
    @if (Model.ActualPage < Model.PageCount)
    {
        <a id="right-arrow" asp-area="" asp-page="/Admin/tableNewsletter" asp-route-id="@(Model.ActualPage + 1)"></a>
    }
</div>
<div id="rotation-message">
    <img draggable="false" src="~/Assets/elements/rotate.svg" />
    <span>Tourner votre appareil</span>
    <p>Cette page présente des caractéristiques qui ne peuvent pas être affiché en mode portrait.</p>
</div>


@section Scripts{

}