@page "{id=1}"
@model Devystri.Pages.Admin.TableNewsletterModel
@{
}
@section Styles{
    <link rel="stylesheet" href="~/css/Pages/admin/table.css" />
}
<section id="header-section">
    <h2 id="page-title">Newsletter</h2>
    <div id="search-box">
        <form id="search-bar">
            <input id="search" placeholder="Rechercher" type="search" />
            <input placeholder=" " id="button-submit" type="submit" />
        </form>
        <a asp-area="" asp-page="/Newsletter" id="add-user">Ajouter une adresse email</a>
    </div>
</section>
<section id="table-section">

    <table order="0" cellspacing="0" cellpadding="0">
        <tr>
            <th id="table-id">ID</th>
            <th id="table-email">Email</th>
            <th id="table-date">Date d'inscription</th>
            <th id="table-modification">Modification</th>
        </tr>
        @for (int i = 0; i < Model.Newsletters.Count; i++)
        {
            <tr>
                <td>@Model.Newsletters[i].Id</td>
                <td>@Model.Newsletters[i].Email</td>
                <td>@Model.Newsletters[i].Date</td>
                <td class="user-edit">
                    <form method="post">
                        <a href="@Model.Newsletters[i].Id" class="table-edit"></a>
                        <input type="submit" name="id" value="@Model.Newsletters[i].Id" onsubmit="comfirm('Attention !', 'Etes vous certains de vouloir supprimer l\'adresse email: @Model.Newsletters[i].Email ?')" class="table-delete" />
                    </form>
                </td>
            </tr>


        }
    </table>
    <div id="table-footer">
        @if (Model.ActualPage > 1)
        {
            <a id="left-arrow" asp-area="" asp-page="/Admin/tableNewsletter" asp-route-id="@(Model.ActualPage - 1)"></a>
        }
        <ul>

            @if (Model.ActualPage > 1)
            {
                <li><a asp-area="" asp-page="/Admin/tableNewsletter" asp-route-id="@(Model.ActualPage - 1)">@(Model.ActualPage-1)</a></li>
            }
            <li><a asp-area="" asp-page="/Admin/tableNewsletter" asp-route-id="@(Model.ActualPage)">@(Model.ActualPage)</a></li>
            @if (Model.ActualPage < Model.PageCount)
            {
                <li><a asp-area="" asp-page="/Admin/tableNewsletter" asp-route-id="@(Model.ActualPage+1)">@(Model.ActualPage+1)</a></li>
            }
        </ul>
        @if (Model.ActualPage < Model.PageCount)
        {
            <a id="right-arrow" asp-area="" asp-page="/Admin/tableNewsletter" asp-route-id="@(Model.ActualPage + 1)"></a>
        }
    </div>
</section>
<div id="rotation-message">
    <img draggable="false" src="~/Assets/elements/rotate.svg" />
    <span>Tourner votre appareil</span>
    <p>Cette page présente des caractéristiques qui ne peuvent pas être affiché en mode portrait.</p>
</div>


@{
    int statement = (Model.Success) ? 1 : 3;
}
@section Scripts{
    @if (Model.Message is not null)
    {
        <script> errorPopup(statement, "@Model.Message"); </script>
    }
}
