@page "{appName}"
@model Devystri.Pages.Applications.IndexModel
@{
    ViewData["Title"] = "Présentation application";
}
@section Styles{
    <link rel="stylesheet" href="~/css/Pages/products/index.css" />
}
<section id="product-description">
    <partial name="_ProjectState" model="Model.Application.Stat" />
    <div data-aos-delay="1000" data-aos="fade-right" data-aos-duration="1000" class="container-description-img">
        <img draggable="false" class="product-description-img" alt="Motivation application" src="~/upload/applications/@Model.Application.Presentation2RessourceName" />
    </div>
    <div id="detailed-description">
        <figure class="product-logo">
            <img draggable="false" class="logo-product" alt="Logo de l'application Motivation" src="~/upload/applications/@Model.Application.AppLogoName" />
        </figure>
        <h1 class="title-product">@Model.Application.Name</h1>
        <div id="product-features">
            <span>Âge : @Model.Application.MinAge+ ans</span>
            <span>Langue : @Model.Application.Languages</span>
        </div>
        <p id="product-description-text">@Model.Application.Description</p>
        <div id="download">
            @if (Model.Application.IsOnAppStore)
            {
                <a href="@Model.Application.AppStoreLink" title="Télécharger sur l'AppStore" class="download-button" id="appstore-button"></a>

            }
            @if (Model.Application.IsOnPlayStore)
            {
                <a href="@Model.Application.PlayStoreLink" title="Télécharger sur le PlayStore" class="download-button" id="playstore-button"></a>
            }
        </div>
    </div>
    <div data-aos-delay="1000" data-aos="fade-left" data-aos-duration="1000" class="container-description-img">
        <img draggable="false" class="product-description-img" alt="@Model.Application.Name application presentation" src="~/upload/applications/@Model.Application.Presentation3RessourceName" />
    </div>
</section>
<section id="product-feature">
    <partial name="_Sections" model="Model.SectionLoadManage"/>

</section>


@section Scripts{

}