@page "{appName}"
@model Devystri.Pages.Applications.IndexModel
@{
    ViewData["Title"] = "Présentation application";
}
@section Styles{
    <link rel="stylesheet" href="~/css/Pages/products/index.css" />
}
<section id="product-description">
    <div class="alert">Notre projet à été annulé en raison d'un manque de budget.</div>
    <div class="container-description-img">
        <img draggable="false" class="product-description-img" alt="Motivation application" src="~/Assets/Images/applicationList/@Model.Application.PresentationRessource" />
    </div>
    <div id="detailed-description">
        <figure class="product-logo">
            <img draggable="false" class="logo-product" alt="Logo de l'application Motivation" src="~/upload/applications/@Model.Application.AppLogoName" />
        </figure>
        <h1 class="title-product">@Model.Application.Name</h1>
        <div id="product-features">
            <span>Âge : @Model.Application.MinAge+ ans</span>
            <span>Langue : @Model.Application.Languages</span>
            <span>Taille : 200 mo</span>
        </div>
        <p id="product-description-text">@Model.Application.Description</p>
        <div id="download">
            @if (Model.Application.IsOnAppStore)
            {
                <a href="@Model.Application.AppStoreLink" title="Télécharger sur l'AppStore" class="download-button" id="appstore-button"></a>

            }
            @if (Model.Application.IsOnPlayStore)
            {
                <a href="@Model.Application.PlayStoreLink" title="Télécharger sur le PlayStore" class="download-button" id="playstore-button"></a>
            }
        </div>
    </div>
    <div class="container-description-img">
        <img draggable="false" class="product-description-img" alt="@Model.Application.Name application presentation" src="~/Assets/Images/applications/application-motivation-3d.png" />
    </div>
</section>
<section id="product-feature">
    @for(int i = 0; i < Model.Sections.Count; i++)
    {
        <div class="feature-container">
            <div class="feature-text">
                <h2 class="feature-title">@Model.Sections[i].Title</h2>
                <p class="feature-description">@Model.Sections[i].Description</p>
            </div>
            <div class="container-image">
                @*<img draggable="false" class="feature-image" alt="Image décrivant l'application @Model.Application.Name" src="~/Assets/Images/applications/@Model.Setions[i].ImageSrc" />*@
            </div>
        </div>
    }

</section>


@section Scripts{

}