@page "{appName}"
@model Devystri.Pages.InternetOfThings.IndexModel
@{
    ViewData["Title"] = "Présentation objet connecté";
}
@section Styles{
    <link rel="stylesheet" href="~/css/Pages/products/index.css" />
}
<section id="product-description">
    <div class="alert">Notre HUB n'est pas commercialisé pour la vente.</div>
    <div class="container-description-img">
        <img draggable="false" class="product-description-img" alt="@Model.Iot.Name application" src="~/upload/iots/@Model.Iot.Presentation2RessourceName" />
    </div>
    <div id="detailed-description">
        <figure class="product-logo">
            <img draggable="false" class="logo-product" alt="Hub HomeConnect" src="~/upload/iots/@Model.Iot.LogoName" />
        </figure>
        <h1 class="title-product">@Model.Iot.Name</h1>
        <div id="product-features">
            <span>Prix : @Model.Iot.Price €</span>
        </div>
        <p id="product-description-text">@Model.Iot.Description </p>

    </div>
    <div class="container-description-img">
        <img draggable="false" class="product-description-img" alt="@Model.Iot.Name présentation" src="~/upload/iots/@Model.Iot.Presentation3RessourceName" />
    </div>
</section>
<section id="product-feature">

    <partial name="_Sections" model="Model.SectionLoadManage"/>
</section>




@section Scripts{

}