@page "{appName}"
@model Devystri.Pages.Web_Sites.IndexModel
@{
    ViewData["Title"] = "Présentation du site "+ Model.webSite.Name;
}
@section Styles{
    <link rel="stylesheet" href="~/css/Pages/products/index.css" />
}
<section id="product-description">
    <div class="alert">Notre projet à été annulé en raison d'un manque de budget.</div>
    <div class="container-description-img">
        <img draggable="false" class="product-description-img" alt="@Model.webSite.Name sur Macbook" src="~/upload/websites/@Model.webSite.Presentation2RessourceName" />
    </div>
    <div id="detailed-description">
        <figure class="product-logo">
            <img draggable="false" class="logo-product" alt="Logo de @Model.webSite.Name" src="~/upload/websites/@Model.webSite.AppLogoName" />
        </figure>
        <h1 class="title-product">@Model.webSite.Name</h1>
        <div id="product-features">
            <span>Âge : @Model.webSite.MinAge+ ans</span>
            <span>Langue : @Model.webSite.Language</span>
        </div>
        <p id="product-description-text">@Model.webSite.Description</p>
        <div id="download">
            <a class="redirect-button" href="@Model.webSite.Link" title="Vous allez être redirigé vers @Model.webSite.Name">Être redirigé vers @Model.webSite.Name</a>
        </div>
    </div>
    <div class="container-description-img">
        <img draggable="false" class="product-description-img" alt="@Model.webSite.Name sur Iphone" src="~/upload/websites/@Model.webSite.Presentation3RessourceName" />
    </div>
</section>
<section id="product-feature">

    @for (int i = 0; i < Model.Sections.Count; i++)
    {
        <div class="feature-container">
            <div class="feature-text">
                <h2 class="feature-title">@Model.Sections[i].Title</h2>
                <p class="feature-description">@Model.Sections[i].Description</p>
            </div>
            <div class="container-image">
                <img draggable="false" class="feature-image" alt="Image décrivant le site @Model.webSite.Name" src="~/upload/websites/@Model.Sections[i].ImageSrc" />
            </div>
        </div>
    }
</section>


@section Scripts{

}