@page "{appName}"
@model Devystri.Pages.Web_Sites.IndexModel
@{
    ViewData["Title"] = "Présentation du site "+ Model.webSite.Name;
}
@section Styles{
    <link rel="stylesheet" href="~/css/Pages/products/index.css" />
}
<section id="product-description">
    <partial name="_ProjectState" model="Model.webSite.Stat" />
    <div data-aos-delay="1000" data-aos="fade-right" data-aos-duration="1000" class="container-description-img">
        <img draggable="false" class="product-description-img" alt="@Model.webSite.Name sur Macbook" src="~/upload/websites/@Model.webSite.Presentation2RessourceName" />
    </div>
    <div id="detailed-description">
        <figure class="product-logo">
            <img draggable="false" class="logo-product" alt="Logo de @Model.webSite.Name" src="~/upload/websites/@Model.webSite.AppLogoName" />
        </figure>
        <h1 class="title-product">@Model.webSite.Name</h1>
        <div id="product-features">
            <span>Âge : @Model.webSite.MinAge+ ans</span>
            <span>Langue : @Model.webSite.Language</span>
        </div>
        <p id="product-description-text">@Model.webSite.Description</p>
        <div id="download">
            <a class="redirect-button" href="@Model.webSite.Link" title="Vous allez être redirigé vers @Model.webSite.Name">Être redirigé vers @Model.webSite.Name</a>
        </div>
    </div>
    <div data-aos-delay="1000" data-aos="fade-left" data-aos-duration="1000" class="container-description-img">
        <img draggable="false" class="product-description-img" alt="@Model.webSite.Name sur Iphone" src="~/upload/websites/@Model.webSite.Presentation3RessourceName" />
    </div>
</section>
<section id="product-feature">


    <partial name="_Sections" model="Model.SectionLoadManage"/>
</section>


@section Scripts{

}